name: test
on: [push]

jobs:
  build:
    name: test
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: pnpm/action-setup@v4
      with:
        version: 10.29.1
    - name: node
      uses: actions/setup-node@v4
      with:
        node-version: "20"
        cache: 'pnpm'
    - run: pnpm install
    - run: pnpm test

